.filter-tips {
  color: white;
  text-align: center;
  font-family: "Cairo", sans-serif;
  opacity: 0.625;
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 3.2rem;
  min-height: 3.2rem;
}

.filters div {
  cursor: pointer;
}

.repository-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.contributor-section-title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
  font-family: "Cairo", sans-serif;
  opacity: 0.625;
  font-size: 2.5rem;
}
.contributor-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.loading-text,
.error-text {
  display: block;
  margin: 8rem 0 2rem 0;
  font-family: "Press Start 2p", sans-serif;
  text-align: center;
  font-size: 1.4rem;
  color: #efefef;
}

.loading-text {
  text-shadow: 0 0 0.5rem rgba(219, 210, 255, 0.5);
}

.error-text {
  color: #ffecec;
  text-shadow: 0 0 0.5rem rgba(253, 190, 190, 0.5);
}

.error-message {
  font-family: "Cairo", sans-serif;
  color: #efefef;
  text-align: center;
  opacity: 0.8;
}
