.filter-tips {
    color: white;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    opacity: 0.625;
    font-size: 1.8rem;
    margin-top: 3.2rem;
    margin-bottom: 1rem;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    margin-bottom: 3.2rem;
}

.filters div {
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 80rem;
}
