* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-image: linear-gradient(to top, #1f0741 8%, #0c011b 40%);
  overflow: hidden;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
}

.starfield {
  position: absolute;
  inset: 0;
  background-image: url(/stars.png);
  opacity: 0.5;
  z-index: -1;
}

[class$="-nebula"] {
  position: absolute;
  z-index: -1;
  mix-blend-mode: lighten;
  left: 50%;
}

.blue-nebula {
  top: 20rem;
  width: 60rem;
  height: 10rem;
  filter: blur(14rem);
  transform: rotateZ(15deg) translateX(-80rem);
  background-color: rgba(90, 60, 226, 0.432);
}

.orange-nebula {
  top: 20rem;
  width: 80rem;
  height: 10rem;
  filter: blur(14rem);
  transform: rotateZ(-15deg) translateX(-4rem);
  background-color: rgba(216, 120, 42, 0.384);
}

.pink-nebula {
  top: 64rem;
  width: 80rem;
  height: 10rem;
  filter: blur(14rem);
  transform: rotateZ(10deg) translateX(-32rem);
  background-color: rgba(233, 47, 217, 0.384);
}

footer {
  padding: 10rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-text {
  color: #efefef;
  font-family: "Cairo", sans-serif;
}

.footer-text a {
  color: #efefef;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.15em;
}

[class^="line-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.2rem;
  background-color: rgba(255, 255, 255, 0.025);
  z-index: -1;
}

.line-0 {
  left: 20vw;
}
.line-1 {
  left: 40vw;
}
.line-2 {
  left: 60vw;
}
.line-3 {
  left: 80vw;
}
