.header {
  margin: 0 auto;
  width: fit-content;
}

.header__text {
  text-align: center;
  font-size: clamp(2rem, 1rem + 4vw, 4.8rem);
  font-family: "Press Start 2P", sans-serif;
  color: #fefefe;
  line-height: 1.5em;
  text-shadow: 0 0 1rem rgba(219, 210, 255, 0.842);
}

.detail {
  text-align: center;
  color: #efefef;
  font-family: "Cairo", sans-serif;
  font-size: clamp(1rem, 0.5rem + 4vw, 2.2rem);
  opacity: 0.625;
  line-height: 1.25em;
}
