.issue-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 0.2rem #efefef solid;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(1rem);
  border-image: linear-gradient(to top right, #8446d4, #e478d5, #eea68a) 30%;
  box-shadow: 0 0 1rem rgba(156, 95, 236, 0.25);
  transition: box-shadow ease-out 0.1s;
  text-decoration: none;
}

.issue-card:hover {
  cursor: pointer;
  box-shadow: 0 0 1.5rem rgba(168, 112, 241, 0.65);
}

.issue-card::before {
  content: "";
  position: absolute;
  left: -2.5rem;
  width: 2.25rem;
  bottom: 50%;
  border-image: linear-gradient(to top right, #8446d4, #e4788a, #eea68a) 30%;
  border-left: 0.2rem solid;
  border-bottom: 0.2rem solid;
}

.issue-card:first-of-type {
  margin-top: 2rem;
}

.issue-card:first-of-type::before {
  top: -2.25rem;
}

.issue-card:not(:first-of-type)::before {
  top: -5.25rem;
}

.issue-card__title {
  font-family: "Cairo", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #efefef;
}

.issue-card__labels {
  display: flex;
  gap: 1rem;
}

.issue-card__label {
  color: #efefef;
  font-family: "Cairo", sans-serif;
  line-height: 1em;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  text-transform: lowercase;
}

.issue-card__label.white {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}

.issue-card__label.green {
  color: rgb(54, 207, 169);
  background-color: rgba(55, 196, 160, 0.1);
}

.issue-card__label.yellow {
  color: rgb(207, 179, 54);
  background-color: rgba(196, 135, 55, 0.1);
}

.issue-card__label.red {
  color: rgb(236, 89, 89);
  background-color: rgba(196, 55, 79, 0.1);
}

.issue-card__label.purple {
  color: rgb(158, 89, 236);
  background-color: rgba(121, 55, 196, 0.1);
}

.issue-card__label.blue {
  color: rgb(89, 135, 236);
  background-color: rgba(55, 65, 196, 0.1);
}

.issue-card__label.cyan {
  color: rgb(89, 219, 236);
  background-color: rgba(55, 175, 196, 0.1);
}
