name: PR

on:
  pull_request:

jobs:
  backend:
    name: Backend CI
    runs-on: ubuntu-latest
    container: rust:1.72.1-bookworm
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified
      - name: Prerequisite
        run: apt-get install -y make
      - name: Build
        run: make build
      - name: Test
        run: make test
        env:
          GITHUB_TOKEN: ${{ github.token }}

  frontend:
    name: Frontend CI
    runs-on: ubuntu-latest
    container: node:20.7.0-bookworm
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          extra_args: --debug --only-verified
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
